<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(OW_APP_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>INCLUDE_SERVER_GATEWAY_ACCESS_COOKIE</key>
	<string>$(INCLUDE_SERVER_GATEWAY_ACCESS_COOKIE)</string>
	<key>INCLUDE_SOURCE_HEADER_IN_HTTP_CALLS</key>
	<string>$(INCLUDE_SOURCE_HEADER_IN_HTTP_CALLS)</string>
	<key>IPFS_TOKEN_URI_PREFIX</key>
	<string>$(IPFS_TOKEN_URI_PREFIX)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>OW_APP_BUNDLE_ID</key>
	<string>$(OW_APP_BUNDLE_ID)</string>
	<key>OW_APP_DISPLAY_NAME</key>
	<string>$(OW_APP_DISPLAY_NAME)</string>
	<key>OW_ENABLE_SSL_PINNING</key>
	<string>$(OW_ENABLE_SSL_PINNING)</string>
	<key>OW_HIDE_COVER_SCREEN</key>
	<string>$(OW_HIDE_COVER_SCREEN)</string>
	<key>OW_IPFS_GATEWAY_DOMAIN_URL</key>
	<string>${OW_IPFS_GATEWAY_DOMAIN_URL}</string>
	<key>OW_MIDDLE_LAYER_BASE_URL</key>
	<string>$(OW_MIDDLE_LAYER_BASE_URL)</string>
	<key>OW_SERVER_CERTIFICATE_FILE_EXTENSION</key>
	<string>$(OW_SERVER_CERTIFICATE_FILE_EXTENSION)</string>
	<key>OW_SERVER_CERTIFICATE_FILE_NAME</key>
	<string>$(OW_SERVER_CERTIFICATE_FILE_NAME)</string>
	<key>OW_SERVER_GATEWAY_ACCESS_COOKIE_NAME</key>
	<string>$(OW_SERVER_GATEWAY_ACCESS_COOKIE_NAME)</string>
	<key>OW_SERVER_GATEWAY_ACCESS_COOKIE_VALUE</key>
	<string>$(OW_SERVER_GATEWAY_ACCESS_COOKIE_VALUE)</string>
	<key>OW_SERVER_HOST</key>
	<string>$(OW_SERVER_HOST)</string>
	<key>SOURCE_DEVICE_HTTP_HEADER_NAME</key>
	<string>$(SOURCE_DEVICE_HTTP_HEADER_NAME)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFProDisplay-Bold.otf</string>
		<string>SFProDisplay-Medium.otf</string>
		<string>SFProDisplay-Regular.otf</string>
		<string>SFProText-Bold.otf</string>
		<string>SFProText-Medium.otf</string>
		<string>SFProText-Regular.otf</string>
		<string>SFProText-Light.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
